@import url(./root.css);
.bg-slate-900 {
    background-color: white !important;
}

.text-black {
    color: BLACK;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.gap-5 {
    gap: 1.25rem;
}

.hidden {
    display: none;
}

.sm\:flex {
    display: flex;
}

.relative {
    position: relative;
}

.hover\:text-white:hover {
    color: #063;
}

.bg-green{
    color: #063;
}

.text-gray-400 {
    color: black;
}

.text-blue-300 {
    color: black;
}
.text-white {
    color: white !important;
}

.rounded-full {
    border-radius: 9999px;
}

.bg-slate-800 {
    background-color: var(--primary);
}

.text-red{
    color:var(--primary);
}

.hover\:bg-slate-600:hover {
    background-color: #063;
}

.pointer-events-none {
    pointer-events: none;
}

.invisible {
    visibility: hidden;
}

.absolute {
    position: absolute;
}

.top-full {
    top: 100%;
}

.min-w-\[320px\] {
    min-width: 320px;
}

.z-\[999\] {
    z-index: 999;
}

.opacity-0 {
    opacity: 0;
}

.shadow-xl {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.rounded-md {
    border-radius: 0.375rem;
}

.transition-all {
    transition: all 0.3s ease;
}

.duration-100 {
    transition-duration: 100ms;
}
.w-48 {
width: 8rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.h-8 {
    height: 2.5rem;
}

.button-resources {
    background-color: var(--primary);
    color: white;
    padding: 0.5rem 1rem; 
    border-radius: 9999px; 
    text-align: center;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; 
}

.button-resources:hover {
    background-color: #063;
}
