<!-- change_password.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'css/central.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <h1 class="logo">LabTracker</h1>
            <nav class="navbar">
                <ul>
                    <li>
                        <a href="{% url 'homepage' %}">Home</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="form-container">
        <h2>Change Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Render the form fields -->
            <button type="submit" class="btn">Change Password</button>
        </form>

        <!-- Display any error messages -->
        <div class="form-errors">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</body>
</html>
